@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
.ilogo {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.i2logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.foottop {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Peddana', serif;
}
.foodlogo{
    width: 600px;
    height: auto;
}
.footfont{
    font-family: 'Peddana', serif;
}
.foodcolor {
    color: #f79400;
}
.headfont {
    font-family: 'Kaushan Script', cursive;
}
.navfont{
    font-family: 'Roboto', sans-serif;
}
.menufoods{
    width: 600px;
    height: 300px;
}
.home2bg{
    background-image: url('../assets/home2.jpg');
    position: relative;
    background-size: cover;
}
/* .circle{
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f79400;
    /* clip-path: circle(40% at 70% 10%); */
.imgshape{
        background: #f79400;
        border-radius: 79% 21% 72% 28% / 37% 65% 35% 63%;
}
.testfont{
    font-family: 'Hind Madurai', sans-serif;
}
.scroller{
    scroll-snap-align: unset;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.homebluebg{
    background-color: #f2f7ff;
}
